<% provide(:title, "アカウント編集") %>
<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">

        <%= form_for @user do |f| %>
          <%= render "shared/error_messages" %>
          <p>ユーザー名</p>
          <%= f.text_field :name%>
          <p>画像</p>
          <%= f.file_field :image %>
          <p>メールアドレス</p>
          <%= f.email_field :email %>
          <%= f.submit "保存" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
