<% provide(:title, "ログイン") %>
<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
      <div class="form users-form">
        <div class="form-body">

          <!-- 入力ミスがあった場合に、エラーを表示 -->
          <%= render "shared/login_error_messages" %>

          <%= form_for(:user, url:login_path) do |f| %>
            <p>メールアドレス</p>
            <%= f.email_field :email %>
            <p>パスワード</p>
            <%= f.password_field :password %>
            <%= f.check_box :remember %>
　          <span>ログインしたままにする</span>
            <%= f.submit "ログイン" %>
          <% end %>

        </div>
    </div>
  </div>
</div>