<% provide(:title, "新規ユーザー登録") %>
<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">

        <ul class="users-errors-list">
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>

        <%= form_for @user, :url => { :controller => :users, :action => :create}  do |f| %>
            <p>ユーザー名</p>
            <%= f.text_field :name %>
            <p>メールアドレス</p>
            <%= f.email_field :email %>
            <p>パスワード</p>
            <%= f.password_field :password %>
            <input type="submit" value="新規登録">
        <% end %>

      </div>
    </div>
  </div>
</div>