<% provide(:title, "show") %>
<div class="main user-show">
  <div class="container">
    <div class="user">
      
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>

      <% if @current_user.id == @user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <table>
    <thead>
        <tr>
        <th>お名前</th>
        <th>書籍</th>
        <th>著者</th>
        <th>出版社</th>
        </tr>
    </thead>
    <tbody>
    <% @user.posts.each do|post| %>
      <tr>
      <td><img src="<%= "/user_images/#{post.user.image_name}" %>" class="icon-image"></td>
      <td class="tdata"><%= link_to(post.title, "/posts/#{post.id}") %></td>
      <td class="tdata"><%= link_to(post.author,"/posts/#{post.id}") %></td>
      <td class="tdata"><%= link_to(post.publish_data,"/posts/#{post.id}") %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>