<% provide(:title, "show") %>
<div class="main user-show">
  <div class="container-user-show">
    
      <div class="user amsn">    
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>

        <% if @current_user.id == @user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% end %>
      </div>
    <div class="user-table-right amsn">
      <table>
      <thead>
          <tr>
          <th>書籍</th>
          <th>著者</th>
          <th>出版社</th>
          <th>ページ数</th>
          </tr>
      </thead>
      <tbody>
      <% @user.posts.each do|post| %>
        <tr>
        <td class="tdata title"><%= link_to(post.title, "/posts/#{post.id}") %></td>
        <td class="tdata author"><%= link_to(post.author,"/posts/#{post.id}") %></td>
        <td class="tdata publish-data"><%= link_to(post.publish_data,"/posts/#{post.id}") %></td>
        <td class="tdata page"><%= link_to(post.page,"/posts/#{post.id}") %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>

  </div>
</div>