<% provide(:title, "show") %>
<div class="main user-show">
  <div class="container-user-show">
    
      <div class ="show-user-left amsn"> 
      <div class ="user">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>

        <% if @current_user.id == @user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% end %>
      </div>
      <div class ="show-user-btn">
        <ul>
        <% if @current_user.id == @user.id %>
          <li><%= link_to("追加", "/posts/new", class:"show-user-btn") %></li>
        <% end %>
          <li><%= link_to("検索", "/posts/new",class:"show-user-btn") %></li>
        </ul>
      </div>
      </div>
    <div class="user-table-right amsn">
      <table>
      <thead>
          <tr>
          <th>id</th>
          <th>書籍</th>
          <th>著者</th>
          <th>頁数</th>
          <th>出版社</th>
          </tr>
      </thead>
      <tbody>
      <% @user.posts.each do|post| %>
      <% @table_id = @table_id + 1 %>
        <tr>
        <td class="tdata table-id"><%= @table_id %></td>
        <td class="tdata table-title"><%= link_to(post.title, "/posts/#{post.id}") %></td>
        <td class="tdata table-author"><%= link_to(post.author,"/posts/#{post.id}") %></td>
        <td class="tdata table-page"><%= link_to(post.page,"/posts/#{post.id}") %></td>
        <td class="tdata table-publish-data"><%= link_to(post.publish_data,"/posts/#{post.id}") %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>

  </div>
</div>