<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>

    <div class="form">
        <div class="form-body">

            <%= form_tag("/posts/#{@post.id}/update") do %>
                <p>書籍名</p>
                <input name="title" value="<%= @post.title %>">
                <p>著者名</p>
                <input name="author" value="<%= @post.author %>">
                <p>ページ数</p>
                <input name="page" value="<%= @post.page %>">
                <p>出版年</p>
                <input name="publish_data" value="<%= @post.publish_data %>">

                <input type="submit" value="保存">
            <% end %>
            
        </div>
    </div>

  </div>
</div>