<% provide(:title, "新規登録") %>
<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">本を追加する</h1>

    <div class="form">
        <div class="form-body">

            <!-- 入力エラー時にメッセージを表示する -->
            <ul class="posts-errors-list">
              <% @post.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
              <% end %>
            </ul>

            <%= form_tag("/posts/create") do %>
                <p>書籍名</p>
                <input name="title" value="<%= @post.title %>">
                <p>著者名</p>
                <input name="author" value="<%= @post.author %>">
                <p>ページ数</p>
                <input name="page" value="<%= @post.page %>">
                <p>出版社</p>
                <input name="publish_data" value="<%= @post.publish_data %>">

                <input type="submit" value="登録">
            <% end %>
            
        </div>
    </div>

  </div>
</div>