<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <%= render "layouts/header" %>

    <!-- メッセージ用フラッシュ　-->
    <% if flash[:notice] %>
      <div class = "flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
